<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/fav.png" />
  <meta name="theme-color" content="#8FD400">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
  <div class="sect sect--padding-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site">
            <h1>Login</h1>
            <form method="POST" action="{{ url_for('auth.login') }}">
              <input type="text" name="username" placeholder="Username" required>
              <input type="password" name="password" placeholder="Password" required>
              <button type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>